.todo {
  border-radius: var(--TODO-BORDER-RADIUS);
  background: var(--TODO-BACKGROUND-CLR);
  gap: 0.5em;
  height: 13rem;
  width: 13rem;
}

.completed-todo {
  opacity: 0.6;
}

.todo-title {
  overflow-x: clip;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.todo-description {
  flex-grow: 1;
  margin: 0.5em 0;
  overflow: hidden;
  position: relative;
}

.todo-description::after {
  background: linear-gradient(#0000, var(--TODO-BACKGROUND-CLR));
  content: "";
  height: 1rem;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.todo-created-date {
  font-size: 0.85em;
  margin-bottom: 0.3em;
  opacity: 0.8;
}
