:root {
  --ACCENT-CLR: #17374f;
  --HOVER-OVERLAY-CLR: #7676761a;
  --PRIMARY-BACKGROUND-CLR: #0d0d0dee;
  --PRIMARY-FONT-CLR: #acacac;
  --LIGHT-FONT-CLR: #fff;
  --SECONDARY-BTN-HOVER-BACKGROUND-CLR: #17374fa2;
  --SHADOW-CLR: #000000;

  --BORDER-RADIUS: 4px;
  --BTN-PADDING-Y: 10px;
  --BTN-PADDING-X: 18px;
  --HAS-GAP-VALUE: 1rem;
  --HAS-PADDING-VALUE: 1rem;
  --BTN-INPUT-BORDER-WIDTH: 1px;

  --TRANSITION-DURATION: 120ms;
}
